<header>
    <div class="container header-wrap">
        <a href="./index.html" class="logo">
            <img src="./img/logo.svg" alt="logo" width="66" height="52"></a>
        <nav class="header-nav">
            <ul class="list nav-list">
                <li><a class="link nav-link current" href="#">Home</a></li>
                <li><a class="link nav-link" href="#about">About</a></li>
                <li><a class="link nav-link" href="#services">Service</a></li>
                <li><a class="link nav-link" href="#menu">Menu</a></li>
                <li><a class="link nav-link" href="#contact">Contact</a></li>
            </ul>
        </nav>

        <button class="btn-open-menu" data-menu-open>
            <img src="./img/gg_menu.svg#icon-gg_menu" alt="gg_menu" width="28" height="28">
        </button>

        <button type="button" class="header-button">Order now</button>
    </div>

    <div class="mobile-menu" data-menu>
        <div class="container container-menu">
            <button class="btn-close-menu" data-menu-close>
                X
            </button>
        </div>
    </div>
</header>