<section class="hero-section">
    <div class="container">
        <div class="hero-content-wrap">
            <h1 class="main-title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero-text">With just a few clicks, you can have your favorite meals delivered straight to your doorstep, no matter where you are. Order now and enjoy a hassle-free and delicious meal from the comfort of your own home.</p>
            <button class="hero-btn">Order Now</button>
        </div>
        <div class="slider-position">
            <div class="tasty-slider">
                <div>
                    <picture>
                        <source
                            media="(min-width: 1280px)"
                            srcset="./img/slider_photo1.png 1x, ./img/slider_photo1@2x.png 2x"
                            type="image/png"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./img/tablet_slider1.png 1x, ./img/tablet_slider1@2x.png 2x"
                            type="image/png"
                        />
                        <img 
                        class="hero-img"
                        src="./img/slider_photo1.png" 
                        alt="Tasty Food"
                        width="292"
                        height="292"
                        loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source
                            media="(min-width: 1280px)"
                            srcset="./img/slider_photo2.png 1x, ./img/slider_photo2@2x.png 2x"
                            type="image/png"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./img/tablet_slider2.png 1x, ./img/tablet_slider2@2x.png 2x"
                            type="image/png"
                        />
                        <img 
                        class="hero-img"
                        src="./img/slider_photo2.png" 
                        alt="Tasty Food"
                        width="292"
                        height="292"
                        loading="lazy">
                    </picture>
                </div>
                <div>
                    <picture>
                        <source
                            media="(min-width: 1280px)"
                            srcset="./img/slider_photo3.png 1x, ./img/slider_photo3@2x.png 2x"
                            type="image/png"
                        />
                        <source
                            media="(min-width: 768px)"
                            srcset="./img/tablet_slider3.png 1x, ./img/tablet_slider3@2x.png 2x"
                            type="image/png"
                        />
                        <img 
                        class="hero-img"
                        src="./img/slider_photo3.png" 
                        alt="Tasty Food"
                        width="292"
                        height="292"
                        loading="lazy">
                    </picture>
                </div>
            </div>
        </div>
        
    </div>
    
</section>