.hero-content-wrap{
    display: flex;
    flex-wrap: wrap;
}
.main-title {
    color: #2C2C2C;
font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: normal;
margin-bottom: 28px;
}
.hero-text {
    color: var(--black, #2C2C2C);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 1.4;
margin-bottom: 32px;
}
.hero-btn {
    color: var(--black, #2C2C2C);
font-family: Roboto;
font-size: 13px;
font-weight: 500;
line-height: 1.5;
padding: 6px 18px;
border-radius: 30px;
background: var(--button-green, #BBF330);
border: none;
cursor: pointer;

}
.hero-img {
}
