.hero-section{
    padding: 60px 0 50px;
}
.hero-content-wrap{
    display: flex;
    flex-wrap: wrap;
}
.main-title {
    max-width: 280px;
    color: #2C2C2C;
font-family: Roboto;
font-size: 28px;
font-weight: 700;
line-height: normal;
margin-bottom: 28px;
}
.hero-text {
    max-width: 266px;
    color: var(--black, #2C2C2C);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 1.4;
margin-bottom: 32px;
}
.hero-btn {
    color: var(--black, #2C2C2C);
font-family: Roboto;
font-size: 13px;
font-weight: 500;
line-height: 1.5;
padding: 6px 18px;
border-radius: 30px;
background: var(--button-green, #BBF330);
border: none;
cursor: pointer;

}
.tasty-slider{
    display: none;
}

@media screen and (min-width:768px){
    .hero-content-wrap{
        flex-direction: column;
    }
    .main-title{
        max-width: 537px;
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 44px;
    }
    .hero-text{
        max-width: 336px;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 40px;
    }
    .hero-btn {
        max-width: 98px;
    }
    .tasty-slider{
        display: block;
    }
    .hero-img{
        border-radius: 320px;
        border: 14px solid var(--yellow-main, #FFE550);
    }
    .slider-position{
        width: 320px;
        height: 320px;
        position: absolute;
        z-index: 1;
        top: 149px;
        right: 40px;
    }
}
@media screen and (min-width:1280px){
    .hero-section{
        padding: 159px 0 0;
    }
    .main-title{
        max-width: 503px;
        font-size: 48px;
        margin-bottom: 28px;
    }
    .hero-text{
        max-width: 511px;
    }
    .hero-img{
        width: 528px;
        height: 528px;
    }
    .slider-position{
        width: 580px;
        height: 580px;
        position: absolute;
        z-index: 1;
        top: 14px;
        right: 14px;   
    }
}
